body {
    height: 100vh;
    min-height: 300px;
    background-color: #e2eaed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
}

.container div {
    display: flex;
}

.white-keys kbd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    min-width: 34px;
    min-height: 200px;
    border: 1px solid darkgray;
    line-height: 6em;
}

.black-keys kbd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 24px;
    min-height: 140px;
    border: 1px solid darkgray;
    line-height: 6em;
    background-color: black;
    color: white;
    position: absolute;
}

.black-keys {
    position: absolute;
    top: 0;
}

#Digit8 {left: 20px;}
#Digit9 {left: 58px;}
#Digit0 {left: 130px;}
#Minus {left: 166px;}
#Equal {left: 202px;}

#KeyI {left:274px;}
#KeyO {left:310px;}
#KeyP {left:382px;}
#BracketLeft {left:418px;}
#BracketRight {left:454px;}

#KeyK {left:526px;}
#KeyL {left:562px;}
#Semicolon {left:634px;}
#Quote {left:670px;}
#Backslash {left:706px;}

#Period {left:778px;}
#Slash {left:814px;}
#ShiftRight {left:886px;}
#ControlRight {left:922px;}
#Enter {left:958px;}

.white-keys > .pressed {
    background-color: #ebebeb !important;
}

.black-keys > .pressed {
    background-color: #474747 !important;
}